
{% extends 'adminindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="addcl">
  <table width="231" border="1" class="table">
    <tr>
      <th width="71" scope="col">From time </th>
      <th width="144" scope="col"><label>
        <input type="text" name="textfield" />
      </label></th>
    </tr>
    <tr>
      <th scope="row">To time </th>
      <td><label>
        <input type="text" name="textfield2" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Date</th>
      <td><label>
        <input type="text" name="textfield3" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Subject</th>
       <td><label>
        <input type="text" name="textfield4" />
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="ADD" />
      </label></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}