<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'adminindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table  border="1" class="table">

    <tr>
      <th >NAME</th>
      <td >ADDRESS</td>
      <td >PHONE</td>
      <td>EMAIL</td>
      <td></td>

    </tr>

    {% for i in val %}
    <tr>
      <th scope="row">&nbsp;{{ i['fname'] }} {{ i['lname'] }}</th>
      <td>&nbsp;{{ i['place'] }} {{ i['post'] }} {{ i['pin'] }}</td>
      <td>{{ i['phone'] }}&nbsp;</td>
      <td>&nbsp;{{ i['email'] }}</td>
      <td><a href="accept?id={{i['lid']}}">Accept</a><br>
          <a href="reject?id={{i['lid']}}">Reject</a></td>
    </tr>
    {% endfor %}

  </table>
</form>
</body>
<!--</html>-->
{% endblock %}