{% extends 'adminindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="view_complaint">
  <table width="296" height="124" border="1"  class="table">


    <tr>
      <th scope="row">Doubt</th>
      <th scope="row">username</th>
      <th scope="row">date</th>
      <th scope="row">reply</th>

    </tr>
    {% for i in val %}
    <tr>
      <td>{{i['doubt'] }}</td>
      <td>{{i['fname'] }} {{i['lname'] }}</td>
      <td>{{i['date']}}</td>
      {% if i['reply']=='pending' %}
      <td><a href="doubt_reply?id={{i['did']}}">reply</a>
      {% else %}
         <td>{{ i['reply'] }}</td>
      {% endif %}

      </td>
    </tr>
     {% endfor %}
   </table>
  <p>&nbsp;</p>
</form>
</body>
{% endblock %}
